<h1> Make a new cat! </h1>

<form method="post">
<label for="cat-name"> Cat Name: </label>
<input id="cat-name" type="text" name="cat[name]" value=""> <br>

<label for="sex">Sex:</label> <br>
<input id="sex" type="radio" name="cat[sex]" value="M" checked> M </input> <br>
<input id="sex" type="radio" name="cat[sex]" value="F"> F </input> <br>

<label for="color">Pick cat color!</label><br>
<select id="color" name="cat[color]">
  <option>
</select>

</form>
