<h1> Make a new cat! </h1>
<%= render partial: "shared/error" %>

<%= render "form", cat: @cat %>
<!-- <form method="post" action="<%= cats_url %>">
<label for="cat-name"> Cat Name: </label>
<input id="cat-name" type="text" name="cat[name]" value=""> <br>

<label for="sex">Sex:</label> <br>
<input id="sex" type="radio" name="cat[sex]" value="M" checked> M </input> <br>
<input id="sex" type="radio" name="cat[sex]" value="F"> F </input> <br>

<label for="color">Pick cat color!</label><br>
<select id="color" name="cat[color]">
  <option value=""></option>
  <option value="brown">Brown</option>
  <option value="orange">Orange</option>
  <option value="black">Black</option>
  <option value="calico">Calico</option>
</select>
<br>

<label for="birth_date">Pick the birth date!</label>
<input id="birth_date" type="date" name="cat[birth_date]"></input><br>

<label for="description">Describe your cat:</label>
<textarea id="description" name="cat[description]"></textarea>
<br>

<button type="submit">Submit</button>
</form> -->
